// Base Color
$blue: #A3E2DC;
$red: #cc4500;
$orange: #ff7a36;
$base-bg-color: #F9F5F3;

// button Color
$button-orange: #ff7f50;

// Font
$font-black: rgba(0, 0, 0, 0.952941);
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-size: 16px;

@import "../modules/font";
